body {
 font-family: Arial , sans-serif;
 line-height: 1.6;
 margin: 40px;
} 

h1 {
	margin-bottom: 10px;
}

h2 , h3 {
    margin-top: 30px;
} 
ul {

	padding-left: 20px;
}

ul li {
	margin: 6px 0;
}
body > ul {
   
   padding-left: 0;
   margin: 12px 0 20px;
   

}
a {

	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img {
  border-radius: 12px;   
  max-width: 300px;      
  height: auto;          
  display: block;        
  margin: 30px 0 40px;   
}

